fastapi==0.115.12
Jinja2==3.1.6
uvicorn[standard]==0.34.2
pydantic-settings==2.8.1
python-dotenv==1.1.0
motor==3.7.0
pymongo==4.11.3
ruff==0.11.4
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic[email]==2.8.1 
PyJWT==2.12.1
google-genai==0.8.0
